
@import "{{ site.theme }}";
/* Galerie photo specific styles */
.photo-media {
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.photo-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
